---
title: Release Notes for Cloud Service Broker for GCP (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0-1-0"></a> v0.1.0

**Release Date:** February 22, 2022

### Features

New features and changes in this release:

* **Provision and update operations return errors when attempting to override plan defined properties:** Previously
these commands would accept the property change request, but override it with the plan defined value. (#362)
* **Validation of parameters:** When additional JSON parameters are supplied as part of a cf create-service,
cf update-service, cf bind-service or cf create-service-key they are now validated against the list of
supported parameters; the operation will fail with an error if a parameter is unknown.
* [Breaking Change] **Update to use latest Terraform version**: <%= vars.product_short %> now uses Terraform version v1.1.3

### Resolved issues

This release has the following fixes:

* **Persist parameters through multiple updates:** Parameters sent when updating a service are stored and don't need to be sent again in subsequent updates.
