---
title: Release Notes for Cloud Service Broker for GCP
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

##<a id="1-6-0"></a> v1.6.0

**Release Date:** mm dd, 2024

### Breaking Changes

- **Google Beta Pub/Sub Service Is No Longer Available**:
  The Google Beta Pub/Sub service offering is no longer available.
  You must delete all instances of this service before upgrading to this version.
  

### Features

- **Tofu upgraded to v1.7.2:**

  The Tofu version used to apply changes is upgraded from
  v1.6.2 to v1.7.2. You must upgrade all service instances.
  When you upgrade, ensure that you follow the [Upgrade procedure](upgrading.html#procedure).
  
### Resolved Issues

This release has the following fixes:

-

### Known Issues

There are no known issues in this release.

## <a id="view"></a> View Release Notes for another Version

To view the release notes for another product version, select the version from drop-down menu at the top of this page.
