---
title: Release Notes for Cloud Service Broker for GCP
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-2-0"></a> v1.2.0

**Release Date:** MMM DD, YYYY

### Features

New features and changes in this release:

* **Run-in header:** Description
* **Run-in header:** Description
* **Run-in header:** Description

### Known issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
