---
title: Release Notes for Cloud Service Broker for GCP (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

The release notes tell you about changes in different versions of <%= vars.product_full %>.

## <a id="0-2-0"></a> v0.2.0

**Release Date:** April 20, 2022

### Breaking Changes

This release has the following breaking change:

* **PostgreSQL instance properties cannot be updated**
* **Default PostgreSQL v13:** PostgreSQL is now v13 to match the GCP default.
* **PostgreSQL bind users are deleted on unbind:** Bind-user ownership of the objects is passed on to a `provision_user`.
As a result, the broker can no longer manage bindings created with previous versions. VMware recommends deleting the bindings before upgrading.
To continue managing service instances created earlier, perform an update before doing any other operation.

### Features

New features and changes in this release:

* **PostgreSQL plans are now configurable in the tile**
* **Feature flag for beta services:** The feature flag tab allows operators to enable or disable beta services at a global level.
All beta services are disabled by default. They can be enabled by selecting the `enable-beta-services` check box.
* **`BROKERPAK_UPDATES_ENABLED` feature always enabled:** Service instances are always managed with the latest HashiCorp configuration language (HCL) taken from the brokerpak.
* **Public IPs can be assigned to PostgreSQL databases on creation:** This can be enabled by setting the `public_ip` parameter, which is `false` by default.
* **PostgreSQL access control by IP address:** Use the `authorized_networks_cidrs` parameter to specify a list of IP addresses that allow connections to a PostgreSQL database.

### Resolved issues

This release has the following fix:

* **Beta services:** All service offerings and plans are explicitly in the beta life cycle state.
* **Fixed `defualt` typo:** In the Postgres service, the storage volume size is now 10&nbsp;GB by default.

### Known issues

There are no known issues for this release.


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from dropdown at the top of
this page.
