---
title: Release Notes for Cloud Service Broker for GCP
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

## <a id="1-3-0"></a> v1.3.0

**Release Date:** MMM DD, YYYY

### Breaking Changes

This release has the following breaking changes:

- **The <%= vars.product_full%> tile stops the installation if there are any outdated instances:**

  From now on, ensure that service instances are up to date before upgrading the tile. Out-of-date
  service instances cause the installation to stop. Your instances use the latest released features
  that include the latest security patches.

- **The **<% vars.product_full%> tile now requires Jammy Stemcell**:
  The tile depends now on Jammy Stemcells instead of Xenial. You will need to have a Jammy Stemcell available in Ops Manager.
  This change also implies Ops Manager needs to be at version v2.10.33 or later.

### Features

New features and changes in this release.

- **Postgres 15 is now supported:** You can now create and bind to instances with version 15 of PostgreSQL.
- **Postgres version:** This field is no longer a hardcoded closed set. You can now specify any version exposed by GCP.  
  **Beware:**  
  Some time might pass before we can validate whether a new version of Postgres is fully compatible with CSB.  
  Due diligence is recommended when adopting a version of Postgres not yet officially supported by CSB.  
  To learn whether a specific version of Postgres is officially supported or not, please refer to current and previous release-notes.

### Resolved Issues

This release has the following fixes:

<%= partial vars.path_to_partials + '/csb/timeout-resolved' %>

- **Improved stack selection to try with "cflinuxfs3" before using the default value:**

  Previously, in some scenarios, the default value was a Windows stack, which
  caused the tile installation to fail.

### Known issues

There are no known issues in this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
