---
title: Release Notes for Cloud Service Broker for GCP
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

## <a id="1-4-0"></a> v1.4.0

**Release Date:** xxxx xx, xxxx

### Breaking Changes

This release has the following breaking changes:



### Features

New features and changes in this release.



### Resolved Issues

This release has the following fixes:

- **Prevent performance degradation of database consistency checks at start up**

  Previously the <%= vars.product_short %> would keep information in the database about instances and
  bindings that had already been destroyed. In the long term, this would cause the broker's database space 
  usage to grow with no real benefit. In some rare scenarios, making broker start up slower and causing the 
  platform to time out. 
  The <%= vars.product_short %> will now physically delete information from destroyed assets preventing this 
  situation from happening in the future.

### Known issues

There are no known issues in this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
