---
title: Release Notes for Cloud Service Broker for GCP (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0-3-0"></a> v0.3.0

**Release Date:** MONTH DAY, 2022

### Breaking Changes

This release has the following breaking changes:

* **Run-in heading:** Description
* **Run-in heading:** Description

### Features

New features and changes in this release:

* **Run-in heading:** Description
* **Run-in heading:** Description

### Resolved issues

This release has the following fixes:

* **Run-in heading:** Description
* **Run-in heading:** Description
