---
title: Release Notes for Cloud Service Broker for GCP
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

##<a id="1-6-0"></a> v1.6.0

**Release Date:** mm dd, 2024

### Breaking Changes

This release has no breaking changes.

### Features

New features and changes in this release.

- **Added support for Google Pub/Sub service:**
    The Google Pub/Sub offering is now available and can be used to create new Pub/Sub service instances.
    This offering does not come with brokerpak plans and VMware recommends you create your own custom plan in the tile configuration. [Learn more about the plan configuration parameters](reference/gcp-pubsub.html.md.erb#plans-config).
    A new set of properties enable the configuration of the service instance. [Learn more about the service instance configuration parameters](reference/gcp-pubsub.html.md.erb#parameters).

### Resolved Issues

This release has the following fixes:

-

### Known Issues

There are no known issues in this release.

## <a id="view"></a> View Release Notes for another Version

To view the release notes for another product version, select the version from drop-down menu at the top of this page.
