---
title: Release Notes for Cloud Service Broker for GCP (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="0-2-0"></a> v0.2.0

**Release Date:** April 15, 2022

### Breaking Changes

This release has the following breaking change:

* **PostgreSQL instance properties can not be updated**
* **Default PostgreSQL version 13:** This now matches the GCP default
* **PostgreSQL bind users now deleted on unbind:** ownership of the objects they created is passed on to a "provision_user".
As a result bindings created with previous versions cannot longer be managed by the broker. We recommend deleting the bindings before upgrading.
To continue managing previously created service instances an update will need to be performed before doing any other operation.

### Features

New features and changes in this release:

* **PostgreSQL plans are now configurable in the tile**
* **Feature flag for Beta services:** The feature flag tab allows operators to enable or disable beta services at a global level. 
All beta services are disabled by default. They can be enabled by ticking enable-beta-services.
* **BROKERPAK_UPDATES_ENABLED feature always enabled:** HCL used when managing a service instance is always the latest taken from the brokerpak.
* **Public IPs can be assigned to Postgresql databases on creation:** This can be enabled by setting the public_ip parameter which defaults to false
* **PostgreSQL access control by IP:** List of IP addresses can now be specified to allow connections to a Postgresql database by setting the authorized_networks_cidrs parameter

### Resolved issues

This release has the following fix:

* **Beta services:** All service offerings and plans are highlighted to be at a Beta lifecycle state.
* **Fixed typo defualt => default:** in the postgres service, now the size of storage volume should default to 10 GB


