---
title: Release Notes for Cloud Service Broker for GCP
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

These are release notes for <%= vars.product_full %>.

## <a id="1-1-0"></a> v1.1.0

**Release Date:** August 2, 2022

### Features

New features and changes in this release:

* **Terraform version update:**  Terraform is now v1.2.4. All previous instances can be upgraded to
this version. Upgrades are only supported for Terraform v0.12.0 and later.
* **New upgrade-all-instances task:** The operator can choose if they want to upgrade all instances
to the latest version of the brokerpak while deploying the broker.
By default all instances are upgraded. Update, bind, unbind, and delete operations on an instance are
blocked if an upgrade is available and has not been applied yet.
* **Flexible region property:** Previously, the brokerpak specified regions that can be used with each
service and, as the supported regions in the IaaS changed, a tile upgrade was required to enable those.
As of this version, any supported IaaS region for the specific service works.

### Resolved issues

This release has the following fixes:

* **Data loss prevention:**
  * Added additional checks to prevent service instance recreation during an update.
  * `region` cannot be updated in BigQuery and Storage services anymore because it causes the
recreation of the service instance and loss of data.
* **Service instance deletion:** Fixed an issue that caused a service instance deletion request to
fail if the instance was still in `Create in progress` state.
* **Redis and Dataproc updates no longer cause instance recreation:** Default IaaS instance names set
by the brokerpak now rely on the request instance ID. It was previously relying on a timestamp and
this was causing updates to update the name and therefore to destroy the instance.

### Known issues

There are no known issues for this release.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from drop-down menu at the
top of this page.
