---
title: Google Stackdriver Trace Reference (Beta)
owner: Cloud Service Broker
---

<strong><%= modified_date %></strong>

<p class="note warning">
  <strong>Warning: </strong>
  The Google Stackdriver Trace service offering is currently in beta and is intended for evaluation and test purposes only.
  Do not use this product in a production environment.
</p>

This topic provides reference information about the Google Stackdriver Trace service
(`csb-google-stackdriver-trace`).
It details the plans, configuration parameters, and binding credentials.

## <a id="plans"></a> Plans

The table below lists the plans for Google Stackdriver Trace:

| Plan | Description |
|------|-------------|
| default | Default plan |


## <a id="plans-config"></a> Plan Configuration Parameters

When configuring <%= vars.product_short %> you can add additional plans.
For how to configure plans, see
[Configure Services with Cloud Service Broker for GCP](../installing-with-gcp.html#services).

The following table lists parameters that can only be configured for additional plans:

| Parameter Name       | Values                         | Default   |
|----------------------|--------------------------------|-----------|
| `name`*              | The plan name                  | _n/a_     |
| `id`*                | A unique GUID                  | _n/a_     |
| `description`*       | Description of the new plan    | _n/a_     |
| `display_name`       | Name to use when displaying plan in marketplace    | _n/a_     |
| `free`               | When false, Service Instances of this Service Plan have a cost    | true     |
| `bindable`           | Specifies whether Service Instances of the Service Plan can be bound to applications    | true     |
| `plan_updateable`    | Whether the Plan supports upgrade/downgrade/sidegrade to another version    | true     |

<sup>*</sup> Required


## <a id="parameters"></a> Configuration Parameters

To configure parameters, you can provision a service by running:

```bash
cf create-service csb-google-stackdriver-trace PLAN-NAME SERVICE-INSTANCE-NAME
```

## <a id="binding-creds"></a> Binding Credentials

You can bind a service by running:

```bash
cf bind-service APP-NAME SERVICE-INSTANCE --binding-name BINDING-NAME
```

The format for binding credentials for Google Stackdriver Trace:

```json
{
  "Email" : "SERVICE-ACCOUNT-EMAIL",
  "Name" : "SERVICE-ACCOUNT-NAME",
  "PrivateKeyData" : "SERVICE-ACCOUNT-PRIVATE-KEY",
  "Credentials" : "SERVICE-ACCOUNT-CREDENTIALS",
  "ProjectId" : "GCP-PROJECT-ID",
  "UniqueId" : "SERVICE-ACCOUNT-UNIQUE-ID"
}
```
